.container {
  padding: 1.3rem 1rem;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid gray;
  border-radius: 0 5px 0 0;
  min-height: 4.65rem;
}

.name {
  font-size: 1.2rem;
}

.userImage {
  width: 2rem;
  border-radius: 50%;
}

.backArrowButton {
  width: 2rem;
  background-color: transparent;
  border: 0;
  transition: 0.3s;
  border-radius: 5px;
  padding: 0.2rem;
}

.backArrowButton:hover {
  cursor: pointer;
  background-color: #222222;
  transition: 0.3s;
}

.backArrowImage {
  width: 100%;
}
