.container {
  background-color: black;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  flex: 1;
  border-radius: 0 0 5px 0;
}

.message {
  width: 100%;
  padding: 0.3rem;
  color: white;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 1.1rem;
}

.send {
  padding: 0.4rem 0.8rem;
  background-color: #1b76ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.send:hover {
  cursor: pointer;
  background-color: #0167ff;
  transition: 0.3s;
}
